/* Estilos gerais */

h1 {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.25em;
    font-weight: normal;
}

body {
    font-family: monospace;
    color: #333;
}

.materia {
    flex-direction: column;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-size: 12px;
    margin-bottom: 50px;
}

.titulo {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(246, 65, 20, 0.952);
    
}

.titulo-dois {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(11, 90, 11);
}

.titulo-tres {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
}

h4 {
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(8, 165, 42);
}

.purple {
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
}

.titulo-quatro {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: palevioletred;
}

.palevioletred {
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(192, 93, 126);
}

.titulo-cinco {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(7, 7, 149);
}

.blue {
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(22, 65, 182);
}

.titulo-seis {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(55, 55, 58);
}

.gray {
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(135, 136, 138);
}

.titulo-sete {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(233, 211, 19);
}

.yellow {
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(221, 170, 2);
}

.titulo-oito {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(194, 168, 126);
}

.beige {
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(204, 183, 140);
}

.titulo-nove {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(11, 142, 218);
}

.bluesky {
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(22, 127, 189);
}

.titulo-dez {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orangered;
}

.orangered {
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(235, 105, 58);
}

.titulo-onze {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(195, 20, 93);
}

.pink {
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(199, 47, 128);
}

.titulo-doze {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(5, 170, 101);
}

.lightgreen {
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(68, 139, 68);
}

.titulo-treze {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(102, 61, 7);
}

.brown {
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(218, 143, 6);
}

/* Display Flex */

/* Flex */

.flex-um {
    display: flex;
}

.flex-wrap-um {
    flex-wrap: wrap;
}

.flex-item-1 {
    flex: 1;
}

/* Flex Item */

.item-um { /* Organização dos itens dentro do container */
    margin: 5px;
    background-color: salmon;
    text-align: center;
    font-size: 1.5em;
}

.container-um { /* Organização do container */
    max-width: 400px; /* Se tirar ele pega de ponta a ponta, se aumentar ele aumenta como porcentagem */
    margin: 0 auto;
    border: 3px solid #ccc;
}


/* Fim do Display Flex */

/* Flex-direction */

.row { /* Por padrão ele é row */
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

/* Flex Container - dois */

.container-dois {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
}

/* Flex Item - dois */

.item-dois {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container */
    flex: 1;
    margin: 5px;
    background-color: lightgreen;
    text-align: center;
    font-size: 1.5em;
}

/* Fim do Flex-direction */

/* Flex-wrap */

.norap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

/*Flex Container - tres*/

.container-tres {
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
}

/*Flex Item - tres*/

.item-tres {
    /*O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container*/
    flex: 1;
    margin: 5px;
    background-color: plum;
    text-align: center;
    font-size: 1.5em;
}

/* Fim do Flex-wrap */

/* Flex-flow */

.row-nowrap {
    flex-flow: row nowrap;
}

.column-nowrap {
    flex-flow: column nowrap;
}

.row-wrap {
    flex-flow: row wrap;
}

/* Flex Container - quatro */

.container-quatro {
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
}

/*Flex Item - quatro*/

.item-quatro {
/*O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container.*/
flex: 1;
margin: 5px;
background-color: palevioletred;
text-align: center;
font-size: 1.5em;
}
/* Fim do Flex-flow */

/* Justify Content */

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

/* Flex Container-cinco */

.container-cinco {
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
}

.column {
    min-height: 200px;
    flex-direction: column;
}

/* Flex Item-cinco */

.item-cinco {
    margin: 5px;
    padding: 0 10px;
    background-color: rgb(86, 223, 241);
    text-align: center;
    font-size: 1.5em;
}

/* Indica que o conteúdo deve se expandir */

.flex {
    flex: 1;
}

/* Fim do Justify Content */

/* Align Items */

.stretch-treze {
    align-items: stretch;
}

.flex-start-treze {
    align-items: flex-start;
}

.flex-end-treze {
    align-items: flex-end;
}

.center-treze {
    align-items: center;
}

.baseline-treze {
    align-items: baseline;
}

/* Flex Container-treze */
.container-treze {
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
}

.column-treze {
    flex-direction: column;
}

/* Flex Item-treze */
.item-treze {
    flex: 1;
    margin: 5px;
    background-color: rgb(179, 179, 179);
    text-align: center;
    font-size: 1.5em;
}

.item-treze:first-child {
    padding-top: 20px;
}

.alinhamento-central {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.alinhamento-central .item-treze {
    flex: 0;
    padding: 10px;
}

/* Fim do Align Items */

/* Align Content */

.stretch {
    align-content: stretch;
}

.flex-start- {
    align-content: flex-start;
}

.flex-end- {
    align-content: flex-end;
}

.center- {
    align-content: center;
}

.space-between- {
    align-content: space-between;
}

.space-around- {
    align-content: space-around;
}
/* Flex Container - seis */

.container-seis {
    max-width: 420px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
    flex-wrap: wrap;
}

/* Flex Item - seis */

.item-seis {
    flex: 1;
    margin: 5px;
    padding: 0 10px;
    background-color: khaki;
    text-align: center;
    font-size: 1.5em;
}

/* Fim do Align Content */

/* Flex Item - Flex-grow */

/* Os itens não se expandem para ocupar o container */
.grow0 {
    flex-grow: 0;
}

/* Os itens se expandem igualmente para ocupar o container. Utilizando apenas o flex-grow, o crescimento é distribuído igualmente antes e depois do conteúdo de cada elemento. (pois por padrão o flex-basis é auto) */
.grow1 {
    flex-grow: 1;
}

/* Os itens se expandem duas vezes mais que aqueles com flex-grow: 1; */
.grow2 {
    flex-grow: 2;
}

.item-sete {
    margin: 5px;
    background-color: peachpuff;
    text-align: center;
    font-size: 1.5em;
}

/* Flex container-sete */

.container-sete {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
}

/* Fim do Flex-grow */

/* Flex-basis */

/* FLEX BASIS AUTO */

.basis-auto {
    flex-grow: 1;
    flex-basis: auto; /* auto é o padrão do flex-basis, se eu tirar isso, não acontece nada*/
}

/* O espaço distribuído é 2 vezes maior que o flex-grow: 1; */
.basis-auto-grow-2 {
    flex-grow: 2;
    flex-basis: auto; 
}

/* É o mesmo espaço distribuído que os demais itens com flex-grow: 1; Porém esse espaço inicia após os 60px iniciais */
.basis-auto-width {
    flex-grow: 1;
    flex-basis: auto;
    width: 60px;
}

/* Com o flex-grow: 0; nada é distribuído */
.basis-auto-grow-0 {
    flex-basis: auto;
}

.container.overlay {
    margin-top: 10px;
}

.overlay .basis-auto::before, .overlay .basis-auto-grow-2::before, .overlay .basis-auto-width::before {
    content: "";
    display: block;
    width: 16px;
    height: 36px;
    background-color: rgb(243, 29, 243);
    position: absolute;
    opacity: .5;
}

.overlay .basis-auto-grow-2::before {
    border-right: 16px solid blueviolet;
}

.overlay .basis-auto-width::before {
    border-right: 30px solid;
}

/* FLEX BASIS AUTO FIM */

/* FLEX BASIS 0 */

/* Com o flex-basis 0, itens com flex-grow 1 tentam ficar com o mesmo tamanho total de width. É por issoq ue o mais comum é utilizar flex-basis 0 */
.basis-0 {
    flex-grow: 1;
    flex-basis: 0;
}

/* O tamanho total é de duas vezes dos itens com flex: 1; */
.basis-0-grow-2 {
    flex-grow: 2;
    flex-basis: 0;
}

/* A definição do width é ignorada. Porém ele ainda respeita a definição de min-width */
.basis-0-width {
    flex-grow: 1;
    flex-basis: 0;
    width: 120px;
    min-width: 80px;
}

/* Flex basis 0 com flex-grow 0, não influencia em nada no item. Assim o mesmo fica do tamanho do seu conteúdo. */
.basis-0-grow-0 {
    flex-basis: 0;
}

.overlay .basis-0::before, .overlay .basis-0-grow-2::before, .overlay .basis-0-width::before {
    content: "";
    display: block;
    width: 65px;
    height: 36px;
    background-color: rgb(0, 247, 255);
    position: absolute;
    opacity: .5;
}

.overlay .basis-0-grow-2::before {
    border-right: 65px solid blueviolet;
}

/* FLEX BASIS 0 FIM */

.basis-numero-container {
    flex-wrap: wrap;
}

.basis-110 {
    flex-basis: 110px;
}

.basis-300 {
    flex-basis: 300px;
}

.basis-110-porcento {
    flex-basis: calc (25% - 10px);
}

.basis-110-grow-1 {
    flex-grow: 1;
    flex-basis: 110px;
}

/* O Flex-basis não ultrapassa o tamanho do container. Pois por padrão o flex-shrink é 1, ou seja, permite que o item se ajuste para caber no container. */
.basis-600-grow-1 {
    flex-grow: 1;
    flex-basis: 600px;
}

/* ESTILOS GERAIS */

.item-oito {
    margin: 5px;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 1.5em;
    position: relative;
}

/* Flex Container-oito */
.container-oito {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
}

/* Flex Item */

img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
}

/* Fim do Flex-basis */

/* Flex-shrink */

.shrink-1 {
	flex-grow: 1;
	flex-shrink: 1;
}

.shrink-3 {
	flex-grow: 1;
	flex-shrink: 3;
}

.shrink-1-basis {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 150px;
}

.shrink-0-basis {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 150px;
}

.shrink-3-basis {
	flex-grow: 1;
	flex-shrink: 3;
	flex-basis: 150px;
}

.flex-wrap {
	flex-wrap: wrap;
}


.item-nove {
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

/* Flex Container */
.container-nove {
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}

/* Fim do Flex-shrink */

/* FLEX BASIS AUTO */

.basis-auto-segundo {
    flex: 1 1 auto;
}

.basis-auto-grow-2-segundo {
    flex: 2 1 auto;
}

.basis-auto-width-segundo {
    flex: 1 1 auto;
    width: 60px;
}

.basis-auto-grow-0-segundo {
    flex: 0 1 auto;
}
/* FLEX BASIS AUTO FIM */

/* FLEX BASIS 0 */

.basis-0-segundo {
    flex: 1;
}

/* O tamanho total é de duas vezes dos itens com flex: 1; */
.basis-0-grow-2-segundo {
    flex: 2;
}

.basis-0-width-segundo {
    flex: 1;
    width: 120px;
    min-width: 80px;
}

.basis-0-grow-0-segundo {
    flex:  0 1 0;
}

/* FLEX BASIS 0 FIM */

.basis-numero-container-segundo {
    flex-wrap: wrap;
}

.basis-110-segundo {
    flex: 0 1 110px;
}

.basis-300-segundo {
    flex: 0 1 300px;
}

.basis-110-porcento-segundo {
    flex: 0 1 calc(25% - 10px);
}

.basis-110-grow-1-segundo {
    flex: 1 1 110px;
}

.basis-600-grow-1-segundo {
    flex: 1 1 600px;
}

/* ESTILOS GERAIS */

.item-dez {
    margin: 5px;
    background-color: hotpink;
    text-align: center;
    font-size: 1.5em;
    position: relative;
}

/* Flex Container-dez */
.container-dez {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
}

/* Flex Item-dez */
img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
}

/* Fim do Flex */

/* Order */

.order1 {
    order: 1;
}

.order2 {
    order: 2;
}

.order3 {
    order: 3;
}

.order4 {
    order: 4;
}

.order-1 {
    order: -1;
}

.flex-grow {
    flex-grow: 1;
}

.column {
    flex-direction: column;
}

.item-onze {
    margin: 5px;
    padding: 0 5px;
    background-color: darkseagreen;
    text-align: center;
    font-size: 1.5em;
}

/* Flex Container-onze */
.container-onze {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
}

/* Fim do Order */

/* Align-self */

/* Obs: Coloquei terceiro para diferenciar das outras classes */

.flex-start-terceiro {
    align-self: flex-start;
}

.flex-end-terceiro {
    align-self: flex-end;
}

.center-terceiro {
    align-self: center;
}

.baseline-terceiro {
    align-self: baseline;
}

.stretch-terceiro {
    align-self: stretch;
}

.align-items-terceiro {
    align-items: flex-end;
}

.item-doze {
    flex: 1;
    margin: 5px;
    padding: 0 5px;
    background-color: rgb(211, 184, 165);
    text-align: center;
    font-size: 1.5em;
}

.item-doze:first-child {
    padding-top: 20px;
}

/* Flex Container-doze */
.container-doze {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
}

.column-terceiro {
    flex-direction: column;
}

/* Fim do Align-self */

/* Para comparações vide https://origamid.com/projetos/flexbox-guia-completo */